# IDE-specific files
/.idea/
/*.iml
/.vscode/

# Dependency directories
/user-service/target/
/user-service/.mvn/wrapper/maven-wrapper.jar
/user-service/**/src/main/**/target/
/user-service/**/src/test/**/target/

/admin-service/target/
/admin-service/.mvn/wrapper/maven-wrapper.jar
/admin-service/**/src/main/**/target/
/admin-service/**/src/test/**/target/

/product-service/target/
/product-service/.mvn/wrapper/maven-wrapper.jar
/product-service/**/src/main/**/target/
/product-service/**/src/test/**/target/

/api-gateway/target/
/api-gateway/.mvn/wrapper/maven-wrapper.jar
/api-gateway/**/src/main/**/target/
/api-gateway/**/src/test/**/target/

/service-discovery/target/
/service-discovery/.mvn/wrapper/maven-wrapper.jar
/service-discovery/**/src/main/**/target/
/service-discovery/**/src/test/**/target/

# STS (Spring Tool Suite)
/user-service/.apt_generated
/user-service/.classpath
/user-service/.factorypath
/user-service/.project
/user-service/.settings
/user-service/.springBeans
/user-service/.sts4-cache

/admin-service/.apt_generated
/admin-service/.classpath
/admin-service/.factorypath
/admin-service/.project
/admin-service/.settings
/admin-service/.springBeans
/admin-service/.sts4-cache

/product-service/.apt_generated
/product-service/.classpath
/product-service/.factorypath
/product-service/.project
/product-service/.settings
/product-service/.springBeans
/product-service/.sts4-cache

/api-gateway/.apt_generated
/api-gateway/.classpath
/api-gateway/.factorypath
/api-gateway/.project
/api-gateway/.settings
/api-gateway/.springBeans
/api-gateway/.sts4-cache

/service-discovery/.apt_generated
/service-discovery/.classpath
/service-discovery/.factorypath
/service-discovery/.project
/service-discovery/.settings
/service-discovery/.springBeans
/service-discovery/.sts4-cache

# NetBeans
/user-service/nbproject/private/
/user-service/nbbuild/
/user-service/dist/
/user-service/nbdist/
/user-service/.nb-gradle/
/user-service/build/
/user-service/**/src/main/**/build/
/user-service/**/src/test/**/build/

/admin-service/nbproject/private/
/admin-service/nbbuild/
/admin-service/dist/
/admin-service/nbdist/
/admin-service/.nb-gradle/
/admin-service/build/
/admin-service/**/src/main/**/build/
/admin-service/**/src/test/**/build/

/product-service/nbproject/private/
/product-service/nbbuild/
/product-service/dist/
/product-service/nbdist/
/product-service/.nb-gradle/
/product-service/build/
/product-service/**/src/main/**/build/
/product-service/**/src/test/**/build/

/api-gateway/nbproject/private/
/api-gateway/nbbuild/
/api-gateway/dist/
/api-gateway/nbdist/
/api-gateway/.nb-gradle/
/api-gateway/build/
/api-gateway/**/src/main/**/build/
/api-gateway/**/src/test/**/build/

/service-discovery/nbproject/private/
/service-discovery/nbbuild/
/service-discovery/dist/
/service-discovery/nbdist/
/service-discovery/.nb-gradle/
/service-discovery/build/
/service-discovery/**/src/main/**/build/
/service-discovery/**/src/test/**/build/

# Other files and directories
HELP.md